<%# Renders an Enum type section. Locals should be view model of the enum type %>
<%- include('buildingBlocks/header.ejs', locals) %>

<table class="content enums">
    <% for (let i in values) {
        if (!values.hasOwnProperty(i)) continue;

        let value = values[i];
        %>
        <tr>
            <td><li><b <%- value.deprecated? "class='deprecated' title='Deprecated'" : "" %> ><%= value.name %></b></li></td>
            <td> - <td>
            <td>
                <%= value.description %>
                <% if (value.deprecated) { %>
                    <span class='directives'>
                        <b style='color: red'>Deprecated</b>:
                        <%= value.deprecated %>
                    </span>
                <% } %>
            </td>
        </tr>
    <% } %>
</table>